/* header */
.header {
  background-image: url('./images/polkaGrapefruit.png');
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header a {
  color: white;
  text-decoration: none;
}
.header_img {
  vertical-align: middle;
  width: 10vh;
  height: 10vh;
}
.header_title {
  vertical-align: middle;
  font-weight: 700;
  font-size: 2em;
}
.header_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 0;
  text-align: center;
  transition: max-height .2s ease-out;
}
.header_menu a li {
  font-weight: 700;
  font-size: 1.1em;
}
.menu-icon {
  cursor: pointer;
  float: right;
  padding: 5vh 5vw;
  user-select: none;
}
.nav-icon {
  background: white;
  display: block;
  position: relative;
  width: 18px;
  height: 2px;
  transition: background .2s ease-out;
}
.nav-icon:before, .nav-icon:after {
  background: white;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .2s ease-out;
}
.nav-icon:before {
  top: 5px;
}
.nav-icon:after {
  top: -5px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .header_menu {
  max-height: 240px;
  padding-bottom: 15px;
}
.menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}
.menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}
@media (min-width: 52em) {
  .header_menu li {
    float: left;
    height: 10vh;
  }
  .header_menu a li {
    padding-left: 20px;
    padding-right: 20px;
    height: 10vh;
    line-height: 10vh;
  }
  .header_menu li:hover {
    background-color: rgb(250,250,250,0.2);
  } 
  .header_menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }
}
@media (max-width: 52em) {
  .header_menu a li {
    display: block;
    padding: 10px 10px;  
  }
  .header_menu li:hover {
    background-color: rgb(250,250,250,0.2);
  } 
  .footer_right {
    font-size: 0.8em;
  }
}

/* Body */
.body {
  min-height: 95vh;
}

/* Footer */
.footer {
  background-image: url('./images/polkaGrapefruit.png');
  height: 5vh;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.footer_left {
  /* border: 2px solid blue; */
  line-height: 4.5vh;
}
.footer_icons {
  display: inline;
  vertical-align: middle;
}
.footer_right {
  font-weight: 700;
  float: right;
  line-height: 5vh;
}