/* Header */
.header {
    background-image: url("./images/polkaGrapefruit.png");
    color: white;
    height: 10vh;
    line-height: 10vh;
    padding-left: 20px;
    padding-right: 20px;
}
.header_left {
    font-size: 1.8em;
    font-weight: 800;
}
/* .header_logo {
    width: 80px;
} */
.header_right {
    float: right;
    font-weight: 700;
}

/* Body */
.body {
    min-height: 84vh;
}

/* Footer */
.footer {
    background-image: url("./images/polkaGrapefruit.png");
    color: white;
    height: 6vh;
    line-height: 6vh;
    padding-left: 20px;
    padding-right: 20px;
}
/* .footer_left {
    font-size: 30px;
} */
.footer_right {
    float: right;
    font-weight: 700;
}